
/**** DOM ****/

:root {
    --border-tabs: white;
}

body {
    background-color: magenta;
}



/**** HEADER BARS ****/

#navbar {
    background-color: var(--primary);
    padding: 0.25em;
    padding-bottom: 0;
    font-size: 0.8em;
    flex-shrink: 0;
}

#navbar > .flex-sep {
    height: 100%;
}
.navtab {
    color: var(--bg-light);
    /* border: none; */
    border-radius: 0.5em 0.5em 0 0;
    width: 8em;
    height: 100%;
    padding: 0.5em;
    font-size: 1em;
    text-align: center;
}
.navtab:hover {
    color: white;
    background-color: var(--primary-selection);
}
/* active navtab must override hover styling */
.active-navtab {
    color: black !important;
    background-color: var(--bg-light) !important;
}

#statbar {
    color: grey;
    background-color: var(--bg-light);
    padding: 0.25em 0.5em;
    font-size: 0.6em;
    justify-content: space-between;
}



/**** CONTENT STYLING ****/

#r-content {
    background-color: var(--bg-grey);
    /* border: thin solid green; */
    padding: 1em;
    font-size: 0.8em;
    gap: 0.5em;

    overflow: scroll;
    min-height: 0;
    flex-grow: 1;
}

.separator-line {
    border-bottom: thin solid var(--text-subtitle);
    width: 100%;
    margin: 1em 0;
}

.button-highlight {
    color: white;
    background-color: var(--primary);
    border-radius: 0.25em;
    padding: 0.5em 1em;
    font-size: 1em;
}
.button-highlight:hover {
    background-color: var(--primary-selection);
}

.r-list-item {
    background-color: white;
    border-radius: 0.25em;
    padding: 0.5em;
    gap: 0.5em;
    font-size: 1em;
}
.r-list-item > h2 {
    color: black;
    font-size: 1em;
}
.r-list-item > p {
    color: grey;
    font-size: 0.8em;
}



/**** PROJECT TAB ****/

/* welcome screen */

#welcome {
    height: 100%;
    align-content: center;
    justify-content: center;
    gap: 20%;
}
#welcome > h1 {
    font-size: 2.5em;
    text-align: center;
}
#welcome > .flex-row {
    justify-content: center;
    gap: 2em;
}
#btn-open-project, #btn-new-project {
    width: 8em;
}

/* project settings screen */

#project-lang-info {
    background-color: var(--bg-light);
    border-radius: 0.5em;
    padding: 1em;
    gap: 0.25em;
}
