
/**** DOM ****/

:root {
    --entry-editor-margins: 3em;
    --entry-form-select-width: 10em;
    --entry-form-input-width: 14em;
    --entry-form-audio-min-width: 6em;

    --edge-sharpness-shadow: drop-shadow(0 0 4px #00000038);
}

body {
    background-color: magenta;
}

input, textarea {
    background-color: white;
    border: thin solid var(--border-medium);
    border-radius: 4px;
    padding: 0.2em 0.5em;
    outline: none;
}
input:focus-visible, textarea:focus-visible {
    border: thin solid var(--primary-highlight) !important;
    outline: thin solid var(--primary-highlight) !important;
}
select {
    background-color: var(--bg-light);
    border: thin solid var(--border-dark);
    border-radius: 4px;
    padding: 0.2em 0.5em;
    outline: none;
    width: calc(1.25 * var(--entry-form-select-width));
    font-size: 0.8em;
}
select:focus-visible {
    border: thin solid var(--primary-highlight) !important;
    outline: thin solid var(--primary-highlight) !important;
}



/**** ICONOGRAPHY ****/

/* svg icons can't use fill="currentColor" since data:image/svg is technically outside DOM */
/* either manually set fill color, or use mask instead of background-image */

.icon-audio {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="var(--text-dark)" stroke="none"><path d="M 6 15 h -2 a 1 1 0 0 1 -1 -1 v -4 a 1 1 0 0 1 1 -1 h 2 l 3.5 -4.5 a 0.8 0.8 0 0 1 1.5 0.5 v 14 a 0.8 0.8 0 0 1 -1.5 0.5 l -3.5 -4.5 Z M 15 8 a 5 5 0 0 1 0 8 L 14.1 14.8 a 3.5 3.5 0 0 0 0 -5.6 Z M 17.7 5 a 9 9 0 0 1 0 14 L 16.75 17.83 a 8 8 0 0 0 0 -11.67 Z" /></svg>');
    /* <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="currentColor" stroke="none">
        <path d='M 6 15 h -2 a 1 1 0 0 1 -1 -1 v -4 a 1 1 0 0 1 1 -1 h 2 l 3.5 -4.5 a 0.8 0.8 0 0 1 1.5 0.5 v 14 a 0.8 0.8 0 0 1 -1.5 0.5 l -3.5 -4.5 Z M 15 8 a 5 5 0 0 1 0 8 L 14.1 14.8 a 3.5 3.5 0 0 0 0 -5.6 Z M 17.7 5 a 9 9 0 0 1 0 14 L 16.75 17.83 a 8 8 0 0 0 0 -11.67 Z' />
    </svg> */
    border-radius: 0.25em;
    width: calc(1em + 0.3em + 0.3em);
    height: calc(1em + 0.3em + 0.3em);
}
.icon-audio:hover {
    background-color: var(--bg-offwhite);
}
.icon-plus {
    background-color: var(--primary);
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="white" stroke="none"><path d="M 12 18 m -1 0 a 1 1 0 1 0 2 0 v -5 h 5 a 1 1 0 1 0 0 -2 h -5 v -5 a 1 1 0 1 0 -2 0 v 5 h -5 a 1 1 0 1 0 0 2 h 5 z" /></svg>');

    border-radius: 0.25em;
    width: calc(1em + 0.3em + 0.3em);
    height: calc(1em + 0.3em + 0.3em);
}
.icon-plus:hover {
    background-color: var(--primary-selection);
}
.icon-tridot {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="var(--text-dark)" stroke="none"><path d="M 12 12 m -2 0 a 2 2 0 1 0 4 0 a 2 2 0 1 0 -4 0 M 12 19 m -2 0 a 2 2 0 1 0 4 0 a 2 2 0 1 0 -4 0 M 12 5 m -2 0 a 2 2 0 1 0 4 0 a 2 2 0 1 0 -4 0" /></svg>');
    /* <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="currentColor" stroke="none">
        <path d='M 12 12 m -2 0 a 2 2 0 1 0 4 0 a 2 2 0 1 0 -4 0 M 12 19 m -2 0 a 2 2 0 1 0 4 0 a 2 2 0 1 0 -4 0 M 12 5 m -2 0 a 2 2 0 1 0 4 0 a 2 2 0 1 0 -4 0' />
    </svg> */
    
    border-radius: 0.25em;
    width: calc(1em + 0.3em + 0.3em);
    height: calc(1em + 0.3em + 0.3em);
}
.icon-tridot:hover {
    background-color: var(--bg-light);
    background-color: var(--bg-offwhite);
}

.icon-audio:focus-visible, .icon-plus:focus-visible, .icon-tridot:focus-visible {
    outline: medium solid var(--primary-dark);
}

.icon-close {
    /* background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="var(--text-dark)" stroke-width="1" stroke-linecap="round"><path d="M 18 6 l -12 12 M 6 6 l 12 12" /></svg>'); */
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round"><path d="M18 6l-12 12 M6 6l12 12" /></svg>');

    border-radius: 0.25em;
    width: calc(1em + 0.3em + 0.3em);
    height: calc(1em + 0.3em + 0.3em);
}



/**** LOADING SCREENS ****/

.loading-screen {
    align-items: center;
    gap: 2em;
}
.loading-text {
    color: var(--text-subtitle);
    font-size: 1.5em;
}
.loading-animation-track {
    /* serves as reference anchor for loading anim components */
    position: relative;
    width: 2em;
}
.loading-icon-full, .loading-icon-empty {
    transform: translate(-50%,-50%) rotate(45deg);
    position: absolute;
    width: 1em;
    height: 1em;
}
.loading-icon-full {
    background-color: var(--primary);
    /* border: medium solid white; */
    left: 0%;

    animation: loading-left 1.5s ease infinite;
}
.loading-icon-empty {
    background-color: var(--bg-grey);
    background-color: var(--primary-selection);
    /* border: medium solid var(--primary); */
    left: 100%;

    animation: loading-right 1.5s ease infinite;
}
/* loading animation: 2 diamonds slide past each other, changing which one is on top */
/* cannot optimize fully due to z-index change, but this is only anim, and it's very lightweight */
@keyframes loading-left {
    /* z-index changes at midpoint between keyframes, use fractional keyframes to set midpoint where diamonds don't overlap */
    0%   { left:0%;   z-index:1; }
    49%  { left:100%; z-index:1; }
    50%  { left:100%; z-index:2; }
    99%  { left:0%;   z-index:2; }
    100% { left:0%;   z-index:1; }
}
@keyframes loading-right {
    /* z-index changes at midpoint between keyframes, use fractional keyframes to set midpoint where diamonds don't overlap */
    0%   { left:100%; z-index:2; }
    49%  { left:0%;   z-index:2; }
    50%  { left:0%;   z-index:1; }
    99%  { left:100%; z-index:1; }
    100% { left:100%; z-index:2; }
}

.window-status {
    width: 100%;
    height: 100%;
    gap: 2em;
}
.window-status > p {
    color: var(--text-subtitle);
    font-size: 2em;
}



/**** HEADER BARS ****/

#navbar {
    background-color: var(--primary);
    padding: 0.25em;
    padding-bottom: 0;
    font-size: 0.8em;
    flex-shrink: 0;
}

#navbar > .flex-sep {
    height: 100%;
}
.navtab {
    color: var(--bg-light);
    /* border: none; */
    border-radius: 0.5em 0.5em 0 0;
    width: 8em;
    height: 100%;
    padding: 0.5em;
    font-size: 1em;
    text-align: center;
}
.navtab:hover {
    color: white;
    background-color: var(--primary-selection);
}
.navtab:focus-visible {
    outline: medium solid var(--primary-dark);
}
/* active navtab must override hover styling */
.active-navtab {
    color: black !important;
    background-color: var(--bg-light) !important;
}

#statbar {
    color: grey;
    background-color: var(--bg-light);
    border-bottom: thin solid var(--border-medium);
    border-bottom: thin solid var(--text-subtitle);
    border-bottom: thin solid var(--border-dark);
    padding: 0.25em 0.5em;
    font-size: 0.6em;
    justify-content: space-between;
    gap: 0.5em;
}
#statbar-left {
    overflow-x: scroll;
    flex-grow: 1;
}
#statbar-right {
    width: fit-content;
    overflow-x: scroll;
    flex-shrink: 0;
}
#statbar-left > p {
    margin-right: 0.25em;
}

.quick-copy-letter {
    /* box-sizing: border-box; */
    border: thin solid transparent;
    border-radius: 0.25em;
    padding: 0.2em;
    padding: 0 0.2em;
    min-width: 1em;
    font-size: 1.2em;
}
.quick-copy-letter:hover {
    background-color: white;
}
.quick-copy-letter:focus-within {
    border: thin solid var(--primary-dark);
}



/**** MODALS ****/

#modal-wrapper {
    background-color: #00000066;
    z-index: var(--layer-overlay);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 0.8em;
}
#modal {
    background-color: white;
    border-radius: 0.5em;
    padding: 1em;
    gap: 1em;
    min-width: 20em;
}
#modal-content {
    gap: 0.25em;
}
#modal-actions {
    justify-content: end;
    gap: 1em;
}



/**** CONTENT STYLING ****/

#r-content {
    background-color: var(--bg-grey);
    /* border: thin solid green; */
    padding: 1em;
    font-size: 0.8em;
    align-items: center;
    gap: 1em;

    overflow: scroll;
    min-height: 0;
    flex-grow: 1;
}

.separator-line {
    border-bottom: thin solid var(--text-subtitle);
    width: 100%;
    margin: 1em 0;
}

.button-highlight {
    color: white;
    background-color: var(--primary);
    border-radius: 0.3em;
    padding: 0.25em 1em;
    font-size: 1em;
    white-space: nowrap;
}
.button-highlight:hover {
    background-color: var(--primary-selection);
}
.button-highlight:focus-visible {
    outline: medium solid var(--primary-dark);
}
.button-caution {
    color: white;
    background-color: var(--warning-highlight);
    border-radius: 0.3em;
    padding: 0.25em 1em;
    font-size: 1em;
    white-space: nowrap;
}
.button-caution:hover {
    background-color: var(--warning-highlight-dark);
}
.button-caution:focus-visible {
    outline: medium solid var(--warning-dark);
}

.subtitle {
    color: grey;
    font-size: 0.7em;
}

.r-list-item {
    background-color: white;
    border-radius: 0.25em;
    padding: 0.5em;
    gap: 0.5em;
    font-size: 1em;
}
.r-list-item > h2 {
    color: black;
    font-size: 1em;
}
.r-list-item > p {
    color: grey;
    font-size: 0.8em;
}



/**** PROJECT TAB ****/

/* welcome screen */

#welcome {
    height: 100%;
    align-content: center;
    justify-content: center;
    gap: min(2em, 20%);
}
#welcome > h1 {
    font-size: 2.5em;
    text-align: center;
}
#welcome > .flex-row {
    justify-content: center;
    gap: 2em;
}
#btn-open-project, #btn-new-project {
    width: 8em;
}

/* project settings screen */

.project-tab-section {
    background-color: var(--bg-light);
    border-radius: 0.5em;
    position: relative;
    padding: 1em;
    width: 32em;
}
.stats-separator {
    border-bottom: thin solid var(--border-medium);
    width: 100%;
    margin: 0.5em 0;
}

#project-lang-info {
    /*  */
}
#project-lang-info > label {
    margin-bottom: 0.2em;
    font-size: 0.8em;
}
#project-lang-info > input + label, #project-lang-info > .subtitle + label {
    margin-top: 0.5em;
}
#project-coming-soon {
    color: var(--text-subtitle);
    background-color: var(--bg-light);
    border-radius: 0.5em;
    padding: 0.5em;
    width: 20em;
    font-size: 0.8em;
    text-align: center;
}

#project-stats {
    /* align-items: center; */
    /* width: 100%; */

    /* this section adjusts spacing for bottom-docked tooltip */
    /* padding-bottom: calc(1em + 0.8em);
    margin-bottom: 0.8em; */
}
#project-stats > .subtitle {
    margin-bottom: 1em;
    font-size: 1em;
    text-align: center;
}
#project-stats-tooltip {
    color: var(--text-subtitle);
    background-color: var(--bg-offwhite);
    border: thin solid var(--border-dark);
    border-radius: 0.25em;
    position: absolute;
    width: max-content;
    max-width: 90%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,50%);
    padding: 0.5em 1em;
    font-size: 0.8em;
    text-align: center;
}
#project-stats-totals {
    /* border-bottom: thin solid var(--border-medium); */
    /* padding-bottom: 0.25em; */
    justify-content: space-between;
    gap: 0.5em;
}
#project-stats-totals > h2 {
    font-size: 1.2em;
}
#project-stats-totals > .flex-col {
    align-items: center;
}
.statcount-bubble {
    color: var(--text-subtitle);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    min-width: 5em;
    font-size: 0.8em;
}
.statcount-bubble:hover {
    background-color: white;
}
.statcount-bubble:focus-visible {
    outline: thin solid var(--primary-dark);
}
.statcount-bubble.flex-row {
    gap: 0.3em;
}
.statcount-bubble.flex-row > span {
    color: black;
    font-size: 1.25em;
}
.statcount-bubble > span {
    color: black;
    /* font-size: 1.25em; */
}

#project-stats-catgs {
    justify-content: center;
    gap: 0.5em;
    flex-wrap: wrap;
}
.catg-bubble {
    color: var(--text-subtitle);
    color: white;
    background-color: var(--primary);
    border-radius: 1em;
    padding: 0.25em 1em;
    font-size: 0.8em;
}
.catg-bubble:hover {
    background-color: var(--primary-selection);
}
.catg-bubble:focus-visible {
    outline: medium solid var(--primary-dark);
}

.catg-bubble.flex-row {
    gap: 0.5em;
}
.catg-bubble-label {
    /* color: var(--bg-light); */
    /* font-size: 0.8em; */
}
.catg-bubble-count {
    font-size: 1.25em;
}




/**** LEXICON TAB ****/

#lexicon-wrapper {
    height: 100%;
    align-items: stretch;
    font-size: 0.8em;
}

/* left panel: lexicon search */

#lexicon {
    background-color: var(--bg-light);
    width: 20em;
    flex-shrink: 0;
}

#lexicon-header {
    border-bottom: thin solid var(--text-subtitle);
    border-bottom: thin solid var(--border-dark);
    padding: 0.5em;
    gap: 0.3em;
    flex-shrink: 0;
}


#lexicon-search-bar {
    position: relative;
}
#lexicon-search-actions {
    /* border: thin solid magenta; */
    transform: translate(0,-50%);
    position: absolute;
    top: 50%;
    right: 0;
}
.lexicon-search-action {
    color: var(--text-subtitle);
    /* background-color: var(--primary); */
    border-radius: 0.25em;
    /* size = search lineheight 1.2em + padding 0.2em */
    width: calc(1.2em + 0.2em + 0.2em);
    height: calc(1.2em + 0.2em + 0.2em);
    font-size: 1em;
}
#lexicon-search-clear {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="darkgrey" stroke-width="2" stroke-linecap="round"><path d="M18 6l-12 12 M6 6l12 12" /></svg>');
    /* svg fill property allows named colors, hex colors, and CSS vars */
    /* svg stroke property only allows named colors, nothing else */
    /* no idea why */
}
.lexicon-search-action:hover {
    color: black;
}
.lexicon-search-action:focus-visible {
    color: black;
    outline: thin solid var(--primary-dark);
}
#lexicon-search-patterns {
    gap: 0.5em;
}
.lexicon-search-pattern {
    color: var(--text-subtitle);
    width: 4em;
    font-size: 0.8em;
}
.lexicon-search-pattern:hover {
    color: black;
    text-decoration: underline;
}
.lexicon-search-pattern:focus-visible {
    color: black !important;
    outline: thin solid var(--primary-dark) !important;
}
.active-search-pattern {
    color: black;
    border-bottom: medium solid var(--primary-highlight);
    text-decoration: none !important;
}

#lexicon-legend {
    color: var(--text-subtitle);
    background-color: var(--bg-offwhite);
    padding: 0.5em 1em;
    gap: 0.5em;
}
#lexicon-content {
    padding: 0.25em;
    overflow-y: scroll;
    flex-grow: 1;
}
#lexicon-no-entries {
    color: var(--text-subtitle);
    padding: 0.5em 0;
    font-size: 1.2em;
    text-align: center;
}
.lexicon-entry {
    padding: 0.2em 0.5em;
    gap: 0.5em;
    font-size: 1em;
}
.lexicon-entry:hover {
    background-color: white;
    box-shadow: inset 5px 0 0 0 var(--primary-highlight);
}
.lexicon-entry:focus-visible {
    outline: medium solid var(--primary-dark);
    z-index: var(--layer-front);
}
.lexicon-entry + .lexicon-entry {
    border-top: thin solid var(--border-light);
    border-top: thin solid var(--border-medium);
}
.active-entry {
    background-color: white !important;
    box-shadow: inset -5px 0 0 0 var(--primary-highlight) !important;
}

.lexicon-entry-catg {
    color: var(--text-subtitle);
    width: 3em;
    font-size: 0.8em;
    text-align: center;
}

/* right panel: entry editor */

#entry-editor {
    border-left: thin solid var(--border-dark);
    padding: 1em;
    gap: 0.5em;
    flex-grow: 1;
    overflow-y: scroll;
}

/* entry editor: header */

#entry-header {
    color: white;
    background-color: var(--primary);
    border-radius: 1em;
    
    font-size: 1em;
    padding: 1em;
    gap: 1em;

    min-width: max-content;

    /* uncomment to enable sticky mode */
    /* reqs explicit z-index to prevent sibling elements' shadows from rendering on top */
    /* border-bottom: thin solid var(--border-medium);
    border-radius: 0;
    z-index: var(--layer-front);
    position: sticky;
    top: 0;
    left: 0;
    margin: 0; */
}
#entry-L1 {
    font-size: 1.5em;
}
#entry-catg {
    color: var(--primary-selection);
    background-color: white;
    border-radius: 1em;
    padding: 0.3em 0.5em;
    font-size: 1.25em;
}
#entry-image {
    color: white;
    background: var(--primary-selection) var(--thumbnail-position);
    border: thin solid white;
    border-radius: 0.5em;
    width: 5em;
    height: 5em;
}
#entry-image:hover {
    border: thin solid var(--primary-selection);
    outline: medium solid white;
}
#entry-image:focus-visible {
    border: thin solid var(--primary-selection) !important;
    outline: medium solid white !important;
}

/* entry editor: content */

#entry-content {
    padding: 1em var(--entry-editor-margins);
    gap: 0.5em;
    min-width: fit-content;
}
#entry-content > button {
    white-space: nowrap;
    /* font-size: 0.8em; */
    align-self: end;
}

#entry-forms-count, #entry-sentences-count, #entry-notes-count {
    color: var(--text-subtitle);
    font-size: 0.8em;
}

#entry-forms-wrapper, #entry-sentences-wrapper, #entry-notes-wrapper {
    gap: 0.3em;
}
.entry-form-wrapper, .entry-sentence-wrapper {
    background-color: white;
    border-radius: 0.3em;
    position: relative;
    padding: 0.3em;
    gap: 0.25em;
    min-width: fit-content;
}

.entry-section-no-content {
    color: var(--text-subtitle);
    background-color: var(--bg-light);
    border-radius: 0.5em;
    padding: 0.5em 1em;
}
.audio-gallery-wrapper, .audio-gallery {
    gap: 0.3em;
}
.audio-gallery-no-audio {
    color: var(--text-subtitle);
    font-size: 0.8em;
}

.options-menu {
    background-color: white;
    border: thin solid var(--border-medium);
    border-radius: 0.5em;
    filter: var(--edge-sharpness-shadow);
    z-index: var(--layer-front);
    position: absolute;
    top: 100%;
    right: 0;
    padding: 0.5em;
    /* gap: 0.5em; */

    visibility: hidden;
}
.menu-option-standard {
    border-radius: 0.3em;
    padding: 0.5em 1em;
    font-size: 1em;
    text-align: left;
}
.menu-option-standard:hover {
    background-color: var(--bg-offwhite);
}
.menu-option-standard:focus-visible {
    outline: medium solid var(--primary-dark);
}
.menu-option-caution {
    color: var(--warning-highlight);
    border-radius: 0.3em;
    padding: 0.5em 1em;
    font-size: 1em;
    text-align: left;
}
.menu-option-caution:hover {
    background-color: var(--warning-light);
}
.menu-option-caution:focus-visible {
    outline: medium solid var(--warning-dark);
}
.menu-separator {
    border-bottom: thin solid var(--border-medium);
    margin: 4px 0;
}

/* entry editor: sections and legends */

.section-title {
    font-size: 1.5em;
}
.entry-legend {
    color: white;
    background-color: var(--primary);
    border-radius: 0.3em;
    padding: 0.3em;
    font-size: 1em;
    gap: 0.25em;
    min-width: fit-content;
}
.entry-legend > * {
    flex-shrink: 0;
}
#entry-forms-legend-case {
    width: var(--entry-form-select-width);
}
#entry-forms-legend-form {
    width: var(--entry-form-input-width);
}
.entry-legend > .flex-fill {
    text-align: center;
}
#entry-forms-legend-options {
    width: calc(1em + 0.3em + 0.3em);
}
#entry-sents-legend-case {
    width: var(--entry-form-select-width);
}
#entry-sents-legend-options {
    width: calc(1em + 0.3em + 0.3em);
}

/* entry editor: wordforms */

.entry-form-wrapper > * {
    flex-shrink: 0;
}
.entry-form-wrapper > select {
    width: calc(1.25 * var(--entry-form-select-width));
}
.entry-form-wrapper > input {
    background-color: var(--bg-tint);
    /* border-bottom: thin solid var(--primary-highlight); */
    width: var(--entry-form-input-width);
}
.entry-form-wrapper > .audio-gallery-wrapper {
    /* gap: 0.3em; */
    min-width: var(--entry-form-audio-min-width);
}

/* entry editor: sentences */

.entry-sentence-wrapper > :first-child {
    /* get first child, which should be first flex-row */
    gap: 0.3em;
}
.entry-sentence-wrapper select {
    width: calc(1.25 * var(--entry-form-select-width));
    font-size: 0.8em;
}
/* .entry-sentence-wrapper .audio-gallery-wrapper {
    gap: 0.3em;
} */

.entry-sentence-wrapper label {
    color: var(--text-subtitle);
    font-size: 0.8em;
    width: 3em;
    text-align: center;
    flex-shrink: 0;
}
.entry-sentence-L1, .entry-sentence-L2 {
    background-color: var(--bg-tint);
    flex-grow: 1;
}

.entry-sentence-wrapper .options-menu {
    top: 33.33%;
}

/* entry editor: notes */

.entry-note-wrapper > textarea {
    border: thin solid var(--text-subtitle);
    padding: 0.25em;
    font-size: 1em;
    resize: none;
}

/* entry editor: danger zone */

#entry-danger-zone-header {
    color: var(--warning-highlight-light);
    background-color: var(--warning-dark);
    border-radius: 0.5em 0.5em 0 0;

    font-size: 1em;
    padding: 0.5em 1em;
}
#entry-danger-zone {
    color: var(--warning-dark);
    background-color: var(--warning-light);
    border-radius: 0 0 0.5em 0.5em;

    padding: 0.5em;
    gap: 0.5em;
}
#entry-danger-zone > .flex-row {
    gap: 0.5em;
}
#entry-delete + p {
    color: var(--warning-highlight);
    font-size: 0.8em;
}



/**** SEARCH TAB ****/

#search-wrapper {
    height: 100%;
    align-items: stretch;
    font-size: 0.8em;
}

/* left panel: search settings */

#search-settings-wrapper {
    background-color: var(--bg-light);
    width: 20em;
    flex-shrink: 0;
}

#search-bar {
    /* border-top: thin solid var(--border-dark); */
    border-bottom: thin solid var(--border-dark);
    padding: 0.5em;
    gap: 0.5em;
    flex-shrink: 0;
}
#search-bar > .flex-row {
    justify-content: space-between;
}
#search-bar .flex-row {
    gap: 0.25em;
}
#search-bar p {
    color: var(--text-subtitle);
}

.search-setting-lang {
    background-color: var(--bg-tint-primary);
    border: thin solid var(--primary);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 0.8em;
}
/* .search-setting-lang.active {
    color: white;
    background-color: var(--primary);
} */
.search-setting-lang.inactive {
    color: var(--text-subtitle);
    background-color: var(--bg-light);
    border: thin solid var(--border-medium);
}

#search-tooltip {
    color: var(--text-subtitle);
    border-top: thin solid var(--border-dark);
    padding: 0.5em;
    font-size: 1em;
    text-align: center;
    flex-shrink: 0;
}
#search-settings {
    /* padding: 0.5em; */
    overflow-y: scroll;
    gap: 0.5em;
    flex-grow: 1;
}
.search-setting-header {
    background-color: var(--bg-offwhite);
    /* border-bottom: thin solid var(--border-dark); */
    padding: 0.25em 0.5em;
    justify-content: space-between;
}
.search-setting-select-all {
    background-color: var(--bg-tint-primary);
    border: thin solid var(--primary);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 0.8em;
}
.search-setting-select-all.active {
    color: white;
    background-color: var(--primary);
}
.search-setting-select-all.inactive {
    color: var(--text-subtitle);
    background-color: var(--bg-light);
    border: thin solid var(--border-medium);
}
.search-setting-exclude-all {
    background-color: var(--warning-light);
    border: thin solid var(--warning-highlight);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 0.8em;
}
.search-setting-exclude-all.active {
    color: white;
    background-color: var(--warning-highlight);
}
.search-setting-exclude-all.inactive {
    color: var(--text-subtitle);
    background-color: var(--bg-light);
    border: thin solid var(--border-medium);
}
.search-setting-bubble-wrapper {
    margin-bottom: 1em;
    padding: 0 0.5em;
    justify-content: center;
    gap: 0.5em;
    flex-wrap: wrap;
}
.search-setting-bubble-wrapper + .search-setting-header {
    /* margin-top: 1em; */
}
.search-bubble {
    background-color: var(--bg-tint-primary);
    border: thin solid var(--primary);
    border-radius: 1em;
    padding: 0.25em 1em;
    font-size: 0.8em;
}
.search-bubble.active {
    color: white;
    background-color: var(--primary);
}
.search-bubble.inactive {
    color: var(--text-subtitle);
    background-color: transparent;
    border: thin solid var(--border-medium);
}
.search-bubble-exclude {
    background-color: var(--warning-light);
    border: thin solid var(--warning-highlight);
    border-radius: 1em;
    padding: 0.25em 1em;
    font-size: 0.8em;
}
/* .search-bubble-exclude.active {
    color: white;
    background-color: var(--warning-highlight);
} */
.search-bubble-exclude.inactive {
    color: var(--text-subtitle);
    background-color: transparent;
    border: thin solid var(--border-medium);
}

/* right-panel: search results */

#search-results-wrapper {
    border-left: thin solid var(--border-dark);
    gap: 0.5em;
    flex-grow: 1;
    overflow-y: scroll;
}

#search-results-header {
    color: var(--text-subtitle);
    background-color: var(--bg-offwhite);
    position: sticky;
    padding: 0.25em 0.5em;
    overflow-x: scroll;
    justify-content: space-between;
}


